.mainContainer{
    display: inline-block;
    background: url('../img/head.jpg') no-repeat;
    background-size: cover;
    width:100%;
    height:900px;
    /* height:auto; */
    position:relative;
}
.heroOverlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:900px;
    background: linear-gradient(0deg, var(--hero_over1) 0%, var(--hero_over2) 100%);
}
nav{
    margin:0 auto;
    display:flex;
    width:80%;
    flex-direction: row;
    justify-content: space-between;
    padding:15px 10px;
    z-index:1; 
}
hr{
    margin:0 auto;
    background-color: grey;
    height:1px;
    width:80%;
    border:none;
}
nav > img{
    width:auto;
    height:40px;
    z-index:1;
    transition: 0.4s;
}
nav > img:hover{ /* LOGO */
    width:auto;
    height:40px;
    transition: 0.4s;
    padding:2px;
}
nav ul{
    display:flex;
    list-style: none;
    gap:30px;
    z-index:1;
}
nav li{
    padding:5px 10px;
    border-radius: 5px;
}
nav li:active{
    background-color: var(--menu_bg);
    color: black;
}
nav > ul > li > a{
    color:var(--menu_col);
    text-decoration: none;
    text-transform: uppercase;
    transition: ease-in-out 0.4s;
}
nav > ul > li > a:hover{
    color: var(--menu_col_hov);
    background-color: var(--menu_bg);
    padding:5px 10px;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
}
.heroContainer{
    width:100%;
    display:flex;
    justify-content: center;
    text-shadow: 0 1px 2px black;
    margin:150px 0;
    gap:100px;
}
.heroContainer > .banner{
    width:40%;
    padding:10px;
    color:white;
    z-index:1;
}
.contain{
    width:100%;
}
.heroContainer > img{
    width:450px;
    height:550px;
    z-index:1;
}
.banner > h1{
    font-size: 3.5rem;
    padding-left:10px;
    font-family: var(--font-gruppo);
    font-weight: 200;
    letter-spacing: 0.5rem;
    padding:20px;
}
.banner > h2{
    font-family: var(--font-gruppo);
    font-size: 2.5rem;
}
.priceTable{
    display:flex;
    gap: 3.5rem;
}
.pricingT{
    width:10px;
    line-height: 15px;
    display: flex;
    text-align: right;
    font-size: 1rem;
}
.price{
    font-size: 3rem;
}
.banner > button{
    background-color: rgb(65, 109, 204);
    padding:10px 20px;
    border:none;
    margin: 1rem 0 0 3rem;
    font-weight: bold;
    color:white;
    font-size:1.1rem;
    transition: ease-in-out 0.4s;
}
.banner > button:hover{
    transition: ease-in-out 0.4s;
    box-shadow: 0 1px 15px black;
}
section{
    width:100%;
    padding:45px;
    font-weight: 400;
}
.wrapper_bg{
    display:flex;
    justify-content: center;
    background-color: var(--wrapper-bg);
    color: var(--wrapper-col);
}
.wrapper{
    display: inline-block;
}
.wrapper > h1{
    font-weight: bold;
    font-size:2.5rem;
    font-family: var(--font-gruppo);
}
.placeholder{
    color:grey;
}
select > option{
    color:black;
}
.domainChoose{
    margin:30px 0;
}
.domainChoose > .domainList{
    width:200px;
    padding:20px;
    margin:0 0;
    box-sizing: content-box;
    outline:none;
}
.domainChoose > .domainField{
    width:600px;
    padding:20px;
    margin:0 -5px;
    box-sizing: content-box;
    outline:none;
}
.searchDomain{
    background-color: rgb(221, 0, 129);
    color: white;
    width:100px;
    padding:20px;
    box-sizing: content-box;
    font-size:0.8rem;
    border:2px solid rgb(221, 0, 129);
    transition: 0.4s;
}
.searchDomain:hover{
    box-shadow: 0 1px 15px black;
    transition: 0.4s;
}
.domainLogos{
    margin:20px 0 0 -50px;
    display:flex;
    color:rgb(25, 75, 241);
    text-shadow: 0 1px 3px rgb(148, 148, 255);
}
.domainLogos >.domainName{
    font-size:1.4rem;
    margin-left:50px;
}
.domainLogos > .pricing{
    font-size: 1.5rem;
    margin-left:10px;
}
.gridContainer{
    display:flex;
    justify-content: space-around;
}
.gridSection{
    display: grid;
    grid-gap: 20px 20px;
    grid-template-areas:
        "title title"
        "logodesign emailservice"
        "staticpage hostingplan"
        "freethemes certificates"
    ;
    /* ;background-color: rgb(67, 78, 78); */
}
.flex{
    display: flex;
    gap:0 75px;
}
.flex-col{
    flex-direction: column;
}
.rangetext{
    width:300px;
}
.item{
    width:500px;
    /* background-color: rgb(88, 126, 126); */
}
.scaleIcon{
    font-size:4rem;
    padding:20px;
    border-radius: 100%;
}
.iconOrange{
    color:orange;
    border: 2px solid orange;
}
.iconGrey{
    color: grey;
    border: 2px solid grey;
}
.iconMagenta{
    color: magenta;
    border: 2px solid magenta;
}
.iconNavy{
    color:navy;
    border: 2px solid navy;
}
.iconBrown{
    color: brown;
    border: 2px solid brown;
}
.iconBlue{
    color: rgb(35, 72, 240);
    border: 2px solid rgb(35, 72, 240);
}
.title > h1{
    margin-top: 75px;
    text-align: center;
    font-family: var(--font-gruppo);
    font-weight: bold;
    font-size: 3rem;
}
.title{grid-area: title; width:99.9%;height:8rem;}
.logodesign{grid-area: logodesign;}
.emailservice{grid-area: emailservice;}
.staticpage{grid-area: staticpage;}
.hostingplan{grid-area: hostingplan;}
.freethemes{grid-area: freethemes;}
.certificates{grid-area: certificates;}
.video{
    gap:40px;
    display:flex;
    background: url('../img/video_image.jpg') no-repeat;
    background-size: cover;
    width:auto;
    height:600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    color:white;
    text-align: center;
    text-shadow: 0 0px 5px black;
}
.video > h1{
    font-size: 3rem;
}
.video > p{
    font-size: 1.5rem;
}
.gridSectionResell{
    width:100%;
    display:grid;
    gap:15px;
    grid-template-areas:
        "resellimage resellcontainer";
}
.resellimage{grid-area: resellimage;width:20%;}
.resellcontainer{grid-area: resellcontainer;width:100%;}
.featureList{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.resellcontainer h1{
    margin-bottom: 40px;
    font-size: 3.5rem;
    font-family: var(--font-gruppo);
}
.resellcontainer p{
    font-size: 1.1rem;
}
.infoText{
    margin: 30px 0 30px 0;
}
.infoText > p{
    font-size: 1.4rem;
    color: var(--special-writting);
}
.rowing{
    margin: 30px 0 30px 0;
    display:flex;
    gap:20px;
    align-items: center;
    text-shadow: 0 2px 0px black;
}
.rowing > h2{
    font-size: 3.5rem;
    color: orange;
}
.rowing > h3{
    font-size: 2.5rem;
    text-transform: uppercase;
}
.buyNow{
    width:200px;
    padding:15px;
    border:none;
    background-color: rgb(89, 203, 248);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    transition: ease-in-out 0.4s;
}
.buyNow:hover{
    transition: ease-in-out 0.4s;
    box-shadow: inset 0 1px 15px black;
}